body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

/* To have elements inline and overwrite browser's margin */
* {
  box-sizing: border-box;
}
